.survey-questions {
    border: 1px solid #fff;
    padding: 10px;
    background-color: #fff;
  }
  
  .drag-handle {
    cursor: grab;
    margin-bottom: 10px;
  }
  
  .resizable-component {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    border: 1px solid #fff;
  }
  